// form {
//     background-color: red;
// }

// form div p{
//     color: white;
// }

// @media (max-width:500px){
//     form {
//         background-color: ;
//     }
// }

.form{
    background-color: red; 
    .div{
        border: 5px solid;
        .p{
            color: black;
        }
    }
    @media (max-width: 1000px) {
        background-color: blue;
    }
}