.wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 250px;
    max-width: 400px;

}
.content{
    margin-top: 150px;
    color: white;
}
.Typography{
    margin-bottom: 15px;
}
.X{
    color: salmon;
}