.wrapper {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 80px; 
    padding: 0 20px; 
  }
  
  .navigation {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
  }
  
  .navigationItem {
    margin: 0 10px; 
  }
  
  
  